# exclusion rules
botMain.settings
bot.log
csssLocal.py
wordart_dir/*
__pycache__
logs.txt
remindmedb

# exception to rules
!wordart_dir/.gitkeep
!wordart_dir/default_avatar.jpg

#brendan's custom runner
bottest.py
donotcommit.py
data.json
discord.log
